rules_version = '2';
service cloud.firestore {
  match /databases/{database}/documents {
    match /{document=**} {
      allow read, write: if false;
    }

    match /users/{userID} {
      allow get, list: if isAuthenticatedUser(userID);
      allow create: if isAuthenticatedUser(userID);
    }

    match /users/{userID} {
      match /foods/{foodsID} {
      allow get, list: if isAuthenticatedUser(userID);
      allow create: if isAuthenticatedUser(userID);
      }
    }


    function isAuthenticated() {
      return request.auth != null;
   }

    function isAuthenticatedUser(userID) {
      return request.auth.uid == userID;
    }

    function documentPath(paths) {
      return path([['databases', database, 'documents'].join('/'), paths.join('/')].join('/'));
    }
  }
}
